body {
    text-align: center;
}
button {
    width: 60px;
    height: 60px;
}

#textBox {
    background-color: yellow;
    border-radius: 15px;
    border: 2px solid black;
    padding-top: 10px;
    margin-left: 670px;
    margin-top: 20px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    width: 200px;
}